/* Basic styling */
/* Draw the lines */
.jOrgChart .line {
  height                : 20px;
  width                 : 4px;
}

.jOrgChart .down {
  background-color 		: black;	
  margin 				: 0px auto;
}

.jOrgChart .top {
  border-top          : 3px solid black;
}

.jOrgChart .left {
  border-right          : 2px solid black;
}

.jOrgChart .right {
  border-left           : 2px solid black;
}
.jOrgChart{ margin-bottom: 200px;
    margin-left: 98px;}
/* node cell */
.jOrgChart td {
  text-align            : center;
  vertical-align        : top;
  padding               : 0;
}

/* The node */
.jOrgChart .node {
    background-color: #3c8dbc;
    color: #f9f9f9;
    display: inline-block;
    height: 100px;
    margin: 0 4px;
    width: 100px;
    font-size: 14px;
    z-index: 10;
	border-radius:50%;
	border:2px solid #dca008;
	line-height:80px;
    
}

.node a{
    color: #2fb03f;
    display: block;
    font-size: 15px;
    font-weight: bold;
	position:relative;
}

/* jQuery drag 'n drop */

.drag-active {
  border-style			: dotted !important;
}

.drop-hover {
  border-style			: solid !important;
  border-color 			: #E05E00 !important;
}

#example1 a { background:#f0ad4e; color: #fff; border-radius: 3px;
    padding:4px 12px; }
#example1 a:hover{ color:#fff; background:#df9c3c; }
#example1 strong { color:#a96607; background:#fed8a1; padding: 4px 12px; border-radius: 3px; }
.u-text{
	background-color: #fff;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    margin-top: 80px;
    min-width: 100px;
    position: relative;
    text-align: center;
}

.jOrgChart .node .img{
	height: 96px;
    position: absolute;
    top: -80px;
    width: 96px;
    z-index: 0;
}
.jOrgChart .node .img img{
	max-width:100%;
	max-height:100%;
	border-radius:50%;
	width:96px;
	height:96px;	
}

.popupDiv {
	left: 56%;
	top: -80px;
	width: 260px;
	padding:0px;
	background: #fff;
	display: none;
	position: absolute;
	z-index: 2000;
	border: 1px solid #9dcbe6;
}
.popupDiv .pop-header{
	 border-bottom: 1px solid #9dcbe6;
    line-height: 30px;
	color:#333333;
    margin: 0;
    padding: 0;
    text-align: center;
	background-color:#e6f2f9;
}
.popupDiv .wrap{
	padding:10px;
}
.popupDiv .text{
	font-size:12px;
	color:#666;
	height:30px;
	width:100%;
	padding:0px;
	margin:0px;
	line-height:25px;
	font-weight:normal;
	text-align: left;
}
.popupDiv .text .l-w{
	width:119px;
	height:30px;
	color:#666;
	padding:0px;
	margin:0;
	float:left;
	border:0px;
	font-size:12px;
}
.popupDiv .text .r-w{
	width:119px;
	height:30px;
	color:#666;
	padding:0px;
	margin:0px;
	float:left;
	border:0px;
	font-size:12px;
}
.popupDiv .text .left{
	width:119px;
	height:30px;
	color:#666;
	padding:0px;
	margin:0px;
	float:left;
	border:0px;
}
.popupDiv .text .right{
	width:119px;
	height:30px;
	color:#666;
	padding:0px;
	margin:0px;
	float:left;
	border:0px;
}
a:hover .popupDiv {
	display: block;
}
a:hover .popupDiv:hover {
	display: none;
}
#org li, #org {
	position: relative;
}