
@charset "utf-8";
#platform {
    background-color: #f7f7f7;
    border: 1px solid #cbcccd;
    display: table;
    height: auto;
    margin: 5px auto;
    padding: 0;
    position: relative;
    width: 1027px;
}
#platform .img-res {
    max-width: 100%;
}
#platform .top_head_box {
    background-color: #e9e7e8;
    border-bottom: 1px solid #d3d3d3;
    display: inline-block;
    height: auto;
    position: relative;
    width: 100%;
}
#platform .top_heading {
    color: #999999;
    float: left;
    font-size: 23px;
    font-weight: normal;
    height: auto;
    margin: 15px 0 6px 15px;
    position: relative;
    width: auto;
}
#platform .platform_heading {
    color: #6c6c6c;
    display: table;
    font-size: 22px;
    margin: 5px auto;
    min-height: 85px;
    position: relative;
    text-align: center;
    width: 95%;
}
#platform .coming-soon {
    background-color: #fbfbfb;
    border: 1px solid #cbcccd;
    border-radius: 5px;
    float: left;
    height: 287px;
    margin-bottom: 20px;
    margin-left: 28px;
    width: 468px;
}
#platform .soon {
    color: #4d4d4d;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
#platform .meta_trader_main_box {
    border: 1px solid #cbcccd;
    border-radius: 5px;
    float: left;
    height: 287px;
    margin-bottom: 20px;
    margin-left: 28px;
    width: 468px;
}
#platform .meta_trader_main_box .meta-heading {
    border-bottom: 2px solid #fed403;
    color: #4d4d4d;
    float: left;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
    text-align: left;
}
#platform .meta_trader_main_box .meta-paragraph {
    color: #888888;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: 5px;
    width: 97%;
}
#platform .meta_trader_main_box .list-button-box {
    float: left;
    height: 157px;
    margin-left: 10px;
    margin-top: 25px;
    width: 210px;
}
#platform .meta_trader_main_box .list-button-box .list-meta-trader {
    display: table;
    float: left;
    margin-left: 0;
    margin-top: 0;
    min-height: 75px;
    position: relative;
    width: 240px;
}
#platform .meta_trader_main_box .list-button-box .list-meta-trader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#platform .meta_trader_main_box .list-button-box .list-meta-trader li {
    background-image: url("http://www.acmgold.com/wp-content/themes/acmgold/images/platforms/bullet.png");
    background-position: 0 9px;
    background-repeat: no-repeat;
    color: #7b7b7b;
    font-size: 13.5px;
    padding-left: 14px;
}
#platform .list-button-box .button_main_box {
    float: left;
    height: 35px;
    margin-top: 35px;
    width: 208px;
}
#platform .list-button-box .button_main_box .download-btn {
    background-color: #63b2f5;
    border-radius: 5px;
    color: #555555;
    cursor: pointer;
    float: left;
    font-size: 13.5px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 98px;
}
#platform .list-button-box .button_main_box .register-btn {
    background-color: #5d5d5d;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 13.5px;
    height: 25px;
    margin-left: 5px;
    padding-top: 5px;
    text-align: center;
    width: 98px;
}
#platform .meta_trader_main_box .meta-trader-image {
    float: right;
    height: 163px;
    margin-right: 5px;
    margin-top: 17px;
    text-align: center;
    width: 220px;
}
#platform .meta_trader_main_box .web-trader-image {
    float: right;
    height: 140px;
    margin-right: 5px;
    margin-top: 50px;
    text-align: center;
    width: auto;
}
#platform .meta_trader_main_box .mobile-trader-image {
    float: right;
    height: 175px;
    margin-right: 5px;
    margin-top: 50px;
    text-align: center;
    width: auto;
}
#platform .meta_trader_main_box .prodigy-image {
    float: right;
    height: 180px;
    margin-right: 5px;
    margin-top: 10px;
    text-align: center;
    width: auto;
}
#platform .meta_trader_main_box .pamm-image {
    float: right;
    height: 180px;
    margin-right: 5px;
    margin-top: 10px;
    text-align: center;
    width: auto;
}
#platform .meta_trader_main_box .Auto-image {
    float: right;
    height: 192px;
    margin-right: 5px;
    margin-top: -73px;
    text-align: center;
    width: auto;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
#platform {
    width: 97% !important;
}
#platform .top_heading {
    font-size: 19px;
}
#platform .platform_heading {
    font-size: 17px;
    line-height: 19px;
}
#platform .meta_trader_main_box {
    display: table;
    float: none;
    margin: 20px auto !important;
    min-height: 320px;
    position: relative;
    width: 90% !important;
}
#platform .meta_trader_main_box .meta-trader-image {
    display: none;
    height: 55%;
    width: 45%;
}
#platform .meta_trader_main_box .list-button-box .list-meta-trader {
    width: 100%;
}
#platform .meta_trader_main_box .list-button-box {
    width: 90% !important;
}
#platform .img-res {
    display: none;
}
}
@media only screen and (min-width: 160px) and (max-width: 320px) {
#platform {
    width: 95% !important;
}
#platform .top_heading {
    font-size: 19px;
}
#platform .platform_heading {
    font-size: 17px;
    line-height: 19px;
}
#platform .meta_trader_main_box {
    display: table;
    float: none;
    margin: 20px auto !important;
    min-height: 300px;
    position: relative;
    width: 90% !important;
}
#platform .meta_trader_main_box .meta-trader-image {
    display: none;
    height: 55%;
    width: 40%;
}
#platform .meta_trader_main_box .list-button-box .list-meta-trader {
    width: 100%;
}
#platform .meta_trader_main_box .list-button-box .button_main_box .register-btn {
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 35px;
}
#platform .meta_trader_main_box .list-button-box {
    width: 90% !important;
}
#platform .img-res {
    display: none;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
#platform {
    border: 1px solid #cbcccd;
    position: relative;
    width: 98%;
}
#platform .meta_trader_main_box {
    padding: 10px;
    width: 330px;
}
#platform .meta_trader_main_box .meta-trader-image {
    display: none;
}
#platform .meta_trader_main_box .prodigy-image {
    display: none;
}
#platform .meta_trader_main_box .Auto-image {
    display: none;
}
#platform .meta_trader_main_box .pamm-image {
    display: none;
}
#platform .meta_trader_main_box .web-trader-image {
    display: none;
}
#platform .meta_trader_main_box .mobile-trader-image {
    display: none;
}
}
